@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --bg-dark: #050814;
  --text-muted: #a0aec0;
  --primary-purple: #6366f1;
  --primary-hover: #4f46e5;
  --card-bg: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f6f7fb;
  color: #192038;
  overflow-x: hidden;
}
